/* Bar chart colours */
.default-color0.chart-bar {
    -fx-bar-fill: #6b9ac4;
}

.default-color1.chart-bar {
    -fx-bar-fill: #97d8c4;
}

.default-color2.chart-bar {
    -fx-bar-fill: #4059ad;
}

/* Line chart colours */
.default-color0.chart-series-line {
    -fx-stroke: #97d8c4;
}
.default-color0.chart-line-symbol {
    -fx-background-color: #97d8c4, #ffffff;
}

.default-color1.chart-series-line {
    -fx-stroke: #6b9ac4;
}
.default-color1.chart-line-symbol {
    -fx-background-color: #6b9ac4, #ffffff;
}

.default-color2.chart-series-line {
    -fx-stroke: #4059ad;
}
.default-color2.chart-line-symbol {
    -fx-background-color: #4059ad, #ffffff;
}

.axis{
    -fx-font-weight: bold;
}